# Redirections 301 — anciennes URL WordPress.
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^Travisum\.com/legalisation/?$ /legalisations/ [R=301,L]
  RewriteRule ^Travisum\.com/traduction/?$ /traductions/ [R=301,L]
  RewriteRule ^angola/informations-generales-angola/?$ /visas/angola/ [R=301,L]
  RewriteRule ^arabie-saoudite/ig-arabie-saoudite/?$ /visas/arabie-saoudite/ [R=301,L]
  RewriteRule ^autresvisas/?$ /visas/ [R=301,L]
  RewriteRule ^bf-informations-generales/?$ /visas/burkina-faso/ [R=301,L]
  RewriteRule ^burkina-faso-visa-business/?$ /visas/burkina-faso/ [R=301,L]
  RewriteRule ^burkina-faso-visa-tourisme/?$ /visas/burkina-faso/ [R=301,L]
  RewriteRule ^cambodge-informations-generales/?$ /visas/cambodge-2/ [R=301,L]
  RewriteRule ^cambodge-visa-business/?$ /visas/cambodge-2/ [R=301,L]
  RewriteRule ^cambodge-visa-tourisme/?$ /visas/cambodge-2/ [R=301,L]
  RewriteRule ^chine-informations-generales/?$ /visas/chine/ [R=301,L]
  RewriteRule ^chine-visa-business/?$ /visas/chine/ [R=301,L]
  RewriteRule ^chine-visa-tourisme/?$ /visas/chine/ [R=301,L]
  RewriteRule ^contact/?$ /a-propos/ [R=301,L]
  RewriteRule ^djibouti-informations-generales/?$ /visas/djibouti/ [R=301,L]
  RewriteRule ^djibouti-visa-business/?$ /visas/djibouti/ [R=301,L]
  RewriteRule ^djibouti-visa-tourisme/?$ /visas/djibouti/ [R=301,L]
  RewriteRule ^ethiopie-informations-generales/?$ /visas/ethiopie/ [R=301,L]
  RewriteRule ^ethiopie-visa-business/?$ /visas/ethiopie/ [R=301,L]
  RewriteRule ^ethiopie-visa-tourisme/?$ /visas/ethiopie/ [R=301,L]
  RewriteRule ^gb-informations-generales/?$ /visas/guinee-bissau/ [R=301,L]
  RewriteRule ^ge-informations-generales/?$ /visas/guinee-equatoriale/ [R=301,L]
  RewriteRule ^gr-informations-generales/?$ /visas/guinee-republique/ [R=301,L]
  RewriteRule ^guinee-bissau-visa-business/?$ /visas/guinee-bissau/ [R=301,L]
  RewriteRule ^guinee-bissau-visa-tourisme/?$ /visas/guinee-bissau/ [R=301,L]
  RewriteRule ^guinee-equatoriale-visa-business/?$ /visas/guinee-equatoriale/ [R=301,L]
  RewriteRule ^guinee-equatoriale-visa-tourisme/?$ /visas/guinee-equatoriale/ [R=301,L]
  RewriteRule ^guinee-republique-visa-business/?$ /visas/guinee-republique/ [R=301,L]
  RewriteRule ^guinee-republique-visa-tourisme/?$ /visas/guinee-republique/ [R=301,L]
  RewriteRule ^inde/inde-informations-generales/?$ /visas/inde/ [R=301,L]
  RewriteRule ^inde/inde-visa-business/?$ /visas/inde/ [R=301,L]
  RewriteRule ^inde/inde-visa-tourisme/?$ /visas/inde/ [R=301,L]
  RewriteRule ^legalisation/?$ /legalisations/ [R=301,L]
  RewriteRule ^rd-du-congo-informations-generales/?$ /visas/republique-democratique-du-congo/ [R=301,L]
  RewriteRule ^rd-du-congo-visa-business/?$ /visas/republique-democratique-du-congo/ [R=301,L]
  RewriteRule ^rd-du-congo-visa-tourisme/?$ /visas/republique-democratique-du-congo/ [R=301,L]
  RewriteRule ^russie-informations-generales/?$ /visas/russie/ [R=301,L]
  RewriteRule ^russie-visa-business/?$ /visas/russie/ [R=301,L]
  RewriteRule ^russie-visa-tourisme/?$ /visas/russie/ [R=301,L]
  RewriteRule ^traduction/?$ /traductions/ [R=301,L]
  RewriteRule ^visas/algerie/informations-generales-algerie/?$ /visas/algerie/ [R=301,L]
  RewriteRule ^visas/algerie/visa-business-algerie/?$ /visas/algerie/ [R=301,L]
  RewriteRule ^visas/algerie/visa-tourisme-algerie/?$ /visas/algerie/ [R=301,L]
  RewriteRule ^visas/angola/visa-business-angola/?$ /visas/angola/ [R=301,L]
  RewriteRule ^visas/angola/visa-tourisme-angola/?$ /visas/angola/ [R=301,L]
  RewriteRule ^visas/arabie-saoudite/visa-business-arabie-saoudite/?$ /visas/arabie-saoudite/ [R=301,L]
  RewriteRule ^visas/bangladesh/informations-generales-bangladesh/?$ /visas/bangladesh/ [R=301,L]
  RewriteRule ^visas/bangladesh/visa-business-bangladesh/?$ /visas/bangladesh/ [R=301,L]
  RewriteRule ^visas/bangladesh/visa-tourisme-bangladesh/?$ /visas/bangladesh/ [R=301,L]
  RewriteRule ^visas/benin/informations-generales-benin/?$ /visas/benin/ [R=301,L]
  RewriteRule ^visas/benin/visa-business-benin/?$ /visas/benin/ [R=301,L]
  RewriteRule ^visas/benin/visa-tourisme-benin/?$ /visas/benin/ [R=301,L]
  RewriteRule ^visas/bielorussie/informations-generales-bielorussie/?$ /visas/bielorussie/ [R=301,L]
  RewriteRule ^visas/bielorussie/visa-business-bielorussie/?$ /visas/bielorussie/ [R=301,L]
  RewriteRule ^visas/bielorussie/visa-tourisme-bielorussie/?$ /visas/bielorussie/ [R=301,L]
  RewriteRule ^visas/birmanie-myanmar/ig-birmanie-myanmar/?$ /visas/birmanie-myanmar/ [R=301,L]
  RewriteRule ^visas/birmanie-myanmar/visa-business-birmanie-myanmar/?$ /visas/birmanie-myanmar/ [R=301,L]
  RewriteRule ^visas/birmanie-myanmar/visa-tourisme-birmanie-myanmar/?$ /visas/birmanie-myanmar/ [R=301,L]
  RewriteRule ^visas/burundi/informations-generales-burundi/?$ /visas/burundi/ [R=301,L]
  RewriteRule ^visas/burundi/visa-business-burundi/?$ /visas/burundi/ [R=301,L]
  RewriteRule ^visas/burundi/visa-tourisme-burundi/?$ /visas/burundi/ [R=301,L]
  RewriteRule ^visas/cameroun/informations-generales-cameroun/?$ /visas/cameroun/ [R=301,L]
  RewriteRule ^visas/cameroun/visa-business-cameroun/?$ /visas/cameroun/ [R=301,L]
  RewriteRule ^visas/cameroun/visa-tourisme-cameroun/?$ /visas/cameroun/ [R=301,L]
  RewriteRule ^visas/coree-du-sud/ig-coree-du-sud-republique/?$ /visas/coree-du-sud/ [R=301,L]
  RewriteRule ^visas/coree-du-sud/visa-travail-coree-du-sud/?$ /visas/coree-du-sud/ [R=301,L]
  RewriteRule ^visas/cuba/cuba-informations-generales/?$ /visas/cuba/ [R=301,L]
  RewriteRule ^visas/cuba/cuba-visa-business/?$ /visas/cuba/ [R=301,L]
  RewriteRule ^visas/cuba/cuba-visa-tourisme/?$ /visas/cuba/ [R=301,L]
  RewriteRule ^visas/egypte/informations-generales-egypte/?$ /visas/egypte/ [R=301,L]
  RewriteRule ^visas/egypte/visa-business-egypte/?$ /visas/egypte/ [R=301,L]
  RewriteRule ^visas/egypte/visa-tourisme-egypte/?$ /visas/egypte/ [R=301,L]
  RewriteRule ^visas/emirats-arabes-unis/emirats-arabes-unis-ig/?$ /visas/emirats-arabes-unis/ [R=301,L]
  RewriteRule ^visas/emirats-arabes-unis/emirats-arabes-unis-visa-tourisme/?$ /visas/emirats-arabes-unis/ [R=301,L]
  RewriteRule ^visas/erythree-visa-tourisme/?$ /visas/erythree/ [R=301,L]
  RewriteRule ^visas/erythree/erythree-informations-generales/?$ /visas/erythree/ [R=301,L]
  RewriteRule ^visas/erythree/erythree-visa-business/?$ /visas/erythree/ [R=301,L]
  RewriteRule ^visas/etats-unis-2/etats-unis-esta/?$ /visas/etats-unis-2/ [R=301,L]
  RewriteRule ^visas/etats-unis-2/etats-unis-informations-generales/?$ /visas/etats-unis-2/ [R=301,L]
  RewriteRule ^visas/gabon/gabon-informations-generales/?$ /visas/gabon/ [R=301,L]
  RewriteRule ^visas/gabon/gabon-visa-business/?$ /visas/gabon/ [R=301,L]
  RewriteRule ^visas/gabon/gabon-visa-tourisme/?$ /visas/gabon/ [R=301,L]
  RewriteRule ^visas/ghana/informations-generales-ghana/?$ /visas/ghana/ [R=301,L]
  RewriteRule ^visas/ghana/visa-business-ghana/?$ /visas/ghana/ [R=301,L]
  RewriteRule ^visas/ghana/visa-tourisme-ghana/?$ /visas/ghana/ [R=301,L]
  RewriteRule ^visas/inde/inde-e-visa/?$ /visas/inde/ [R=301,L]
  RewriteRule ^visas/indonesie/indonesie-informations-generales/?$ /visas/indonesie/ [R=301,L]
  RewriteRule ^visas/indonesie/indonesie-visa-business/?$ /visas/indonesie/ [R=301,L]
  RewriteRule ^visas/indonesie/indonesie-visa-tourisme/?$ /visas/indonesie/ [R=301,L]
  RewriteRule ^visas/iran/iran-informations-generales/?$ /visas/iran/ [R=301,L]
  RewriteRule ^visas/iran/iran-visa-tourisme/?$ /visas/iran/ [R=301,L]
  RewriteRule ^visas/jordanie/jordanie-informations-generales/?$ /visas/jordanie/ [R=301,L]
  RewriteRule ^visas/jordanie/jordanie-visa-business/?$ /visas/jordanie/ [R=301,L]
  RewriteRule ^visas/jordanie/jordanie-visa-tourisme/?$ /visas/jordanie/ [R=301,L]
  RewriteRule ^visas/kazakhstan/kazakhstan-informations-generales/?$ /visas/kazakhstan/ [R=301,L]
  RewriteRule ^visas/kazakhstan/kazakhstan-visa-business/?$ /visas/kazakhstan/ [R=301,L]
  RewriteRule ^visas/kazakhstan/kazakhstan-visa-tourisme/?$ /visas/kazakhstan/ [R=301,L]
  RewriteRule ^visas/kenya/kenya-informations-generales/?$ /visas/kenya/ [R=301,L]
  RewriteRule ^visas/kenya/visa-business-kenya/?$ /visas/kenya/ [R=301,L]
  RewriteRule ^visas/kenya/visa-tourisme-kenya/?$ /visas/kenya/ [R=301,L]
  RewriteRule ^visas/laos/laos-informations-generales/?$ /visas/laos/ [R=301,L]
  RewriteRule ^visas/laos/laos-visa-business/?$ /visas/laos/ [R=301,L]
  RewriteRule ^visas/laos/laos-visa-tourisme/?$ /visas/laos/ [R=301,L]
  RewriteRule ^visas/liban/liban-informations-generales/?$ /visas/liban/ [R=301,L]
  RewriteRule ^visas/liban/liban-visa-business/?$ /visas/liban/ [R=301,L]
  RewriteRule ^visas/liban/liban-visa-tourisme/?$ /visas/liban/ [R=301,L]
  RewriteRule ^visas/liberia/liberia-informations-generales/?$ /visas/liberia/ [R=301,L]
  RewriteRule ^visas/liberia/liberia-visa-business/?$ /visas/liberia/ [R=301,L]
  RewriteRule ^visas/liberia/liberia-visa-tourisme/?$ /visas/liberia/ [R=301,L]
  RewriteRule ^visas/madagascar/informations-generales-madagascar/?$ /visas/madagascar/ [R=301,L]
  RewriteRule ^visas/madagascar/visa-business-madagascar/?$ /visas/madagascar/ [R=301,L]
  RewriteRule ^visas/madagascar/visa-tourisme-madagascar/?$ /visas/madagascar/ [R=301,L]
  RewriteRule ^visas/malawi/informations-generales-malawi/?$ /visas/malawi/ [R=301,L]
  RewriteRule ^visas/malawi/visa-business-malawi/?$ /visas/malawi/ [R=301,L]
  RewriteRule ^visas/malawi/visa-tourisme-malawi/?$ /visas/malawi/ [R=301,L]
  RewriteRule ^visas/mali/informations-generales-mali/?$ /visas/mali/ [R=301,L]
  RewriteRule ^visas/mali/visa-business-mali/?$ /visas/mali/ [R=301,L]
  RewriteRule ^visas/mali/visa-tourisme-mali/?$ /visas/mali/ [R=301,L]
  RewriteRule ^visas/mauritanie/informations-generales-mauritanie/?$ /visas/mauritanie/ [R=301,L]
  RewriteRule ^visas/mauritanie/visa-business-mauritanie/?$ /visas/mauritanie/ [R=301,L]
  RewriteRule ^visas/mauritanie/visa-tourisme-mauritanie/?$ /visas/mauritanie/ [R=301,L]
  RewriteRule ^visas/mongolie-2/mongolie-informations-generales/?$ /visas/mongolie-2/ [R=301,L]
  RewriteRule ^visas/mongolie-2/mongolie-visa-business/?$ /visas/mongolie-2/ [R=301,L]
  RewriteRule ^visas/mongolie-2/mongolie-visa-tourisme/?$ /visas/mongolie-2/ [R=301,L]
  RewriteRule ^visas/mozambique/informations-generales-mozambique/?$ /visas/mozambique/ [R=301,L]
  RewriteRule ^visas/mozambique/visa-business-mozambique/?$ /visas/mozambique/ [R=301,L]
  RewriteRule ^visas/mozambique/visa-tourisme-mozambique/?$ /visas/mozambique/ [R=301,L]
  RewriteRule ^visas/namibie/informations-generales-namibie/?$ /visas/namibie/ [R=301,L]
  RewriteRule ^visas/namibie/namibie-visa-business/?$ /visas/namibie/ [R=301,L]
  RewriteRule ^visas/namibie/namibie-visa-tourisme/?$ /visas/namibie/ [R=301,L]
  RewriteRule ^visas/nepal/informations-generales-nepal/?$ /visas/nepal/ [R=301,L]
  RewriteRule ^visas/nepal/visa-business-nepal/?$ /visas/nepal/ [R=301,L]
  RewriteRule ^visas/nepal/visa-tourisme-nepal/?$ /visas/nepal/ [R=301,L]
  RewriteRule ^visas/niger/niger-informations-generales/?$ /visas/niger/ [R=301,L]
  RewriteRule ^visas/niger/niger-visa-business/?$ /visas/niger/ [R=301,L]
  RewriteRule ^visas/niger/niger-visa-tourisme/?$ /visas/niger/ [R=301,L]
  RewriteRule ^visas/nigeria/nigeria-informations-generales/?$ /visas/nigeria/ [R=301,L]
  RewriteRule ^visas/nigeria/nigeria-visa-business/?$ /visas/nigeria/ [R=301,L]
  RewriteRule ^visas/nigeria/nigeria-visa-tourisme/?$ /visas/nigeria/ [R=301,L]
  RewriteRule ^visas/oman/oman-informations-generales/?$ /visas/oman/ [R=301,L]
  RewriteRule ^visas/oman/oman-visa-tourisme/?$ /visas/oman/ [R=301,L]
  RewriteRule ^visas/ouganda/ouganda-informations-generales/?$ /visas/ouganda/ [R=301,L]
  RewriteRule ^visas/ouganda/ouganda-visa-business/?$ /visas/ouganda/ [R=301,L]
  RewriteRule ^visas/ouganda/ouganda-visa-tourisme/?$ /visas/ouganda/ [R=301,L]
  RewriteRule ^visas/ouzbekistan/ouzbekistan-informations-generales/?$ /visas/ouzbekistan/ [R=301,L]
  RewriteRule ^visas/ouzbekistan/ouzbekistan-visa-business/?$ /visas/ouzbekistan/ [R=301,L]
  RewriteRule ^visas/ouzbekistan/ouzbekistan-visa-tourisme/?$ /visas/ouzbekistan/ [R=301,L]
  RewriteRule ^visas/pakistan/pakistan-informations-generales/?$ /visas/pakistan/ [R=301,L]
  RewriteRule ^visas/pakistan/pakistan-visa-business/?$ /visas/pakistan/ [R=301,L]
  RewriteRule ^visas/pakistan/pakistan-visa-tourisme/?$ /visas/pakistan/ [R=301,L]
  RewriteRule ^visas/papouasie-nouvelle-guinee/png-informations-generales/?$ /visas/papouasie-nouvelle-guinee/ [R=301,L]
  RewriteRule ^visas/papouasie-nouvelle-guinee/png-visa-business/?$ /visas/papouasie-nouvelle-guinee/ [R=301,L]
  RewriteRule ^visas/papouasie-nouvelle-guinee/png-visa-tourisme/?$ /visas/papouasie-nouvelle-guinee/ [R=301,L]
  RewriteRule ^visas/qatar/qatar-informations-generales/?$ /visas/qatar/ [R=301,L]
  RewriteRule ^visas/qatar/qatar-visa-business/?$ /visas/qatar/ [R=301,L]
  RewriteRule ^visas/qatar/qatar-visa-tourisme/?$ /visas/qatar/ [R=301,L]
  RewriteRule ^visas/republique-centrafricaine/rdc-informations-generales/?$ /visas/republique-centrafricaine/ [R=301,L]
  RewriteRule ^visas/republique-centrafricaine/rdc-visa-business/?$ /visas/republique-centrafricaine/ [R=301,L]
  RewriteRule ^visas/republique-centrafricaine/rdc-visa-tourisme/?$ /visas/republique-centrafricaine/ [R=301,L]
  RewriteRule ^visas/rwanda/rwanda-informations-generales/?$ /visas/rwanda/ [R=301,L]
  RewriteRule ^visas/rwanda/rwanda-visa-business/?$ /visas/rwanda/ [R=301,L]
  RewriteRule ^visas/rwanda/rwanda-visa-tourisme/?$ /visas/rwanda/ [R=301,L]
  RewriteRule ^visas/sao-tome-et-principe/sao-tome-et-principe-ig/?$ /visas/sao-tome-et-principe/ [R=301,L]
  RewriteRule ^visas/sao-tome-et-principe/sao-tome-et-principe-visa-business/?$ /visas/sao-tome-et-principe/ [R=301,L]
  RewriteRule ^visas/sao-tome-et-principe/sao-tome-et-principe-visa-tourisme/?$ /visas/sao-tome-et-principe/ [R=301,L]
  RewriteRule ^visas/sierra-leone/sierra-leone-ig/?$ /visas/sierra-leone/ [R=301,L]
  RewriteRule ^visas/sierra-leone/sierra-leone-visa-business/?$ /visas/sierra-leone/ [R=301,L]
  RewriteRule ^visas/sierra-leone/sierra-leone-visa-tourisme/?$ /visas/sierra-leone/ [R=301,L]
  RewriteRule ^visas/soudan/soudan-informations-generales/?$ /visas/soudan/ [R=301,L]
  RewriteRule ^visas/soudan/soudan-visa-business/?$ /visas/soudan/ [R=301,L]
  RewriteRule ^visas/soudan/soudan-visa-tourisme/?$ /visas/soudan/ [R=301,L]
  RewriteRule ^visas/sud-soudan/sud-soudan-informations-generales/?$ /visas/sud-soudan/ [R=301,L]
  RewriteRule ^visas/sud-soudan/sud-soudan-visa-business/?$ /visas/sud-soudan/ [R=301,L]
  RewriteRule ^visas/sud-soudan/sud-soudan-visa-tourisme/?$ /visas/sud-soudan/ [R=301,L]
  RewriteRule ^visas/suriname/suriname-informations-generales/?$ /visas/suriname/ [R=301,L]
  RewriteRule ^visas/suriname/suriname-visa-business/?$ /visas/suriname/ [R=301,L]
  RewriteRule ^visas/suriname/suriname-visa-tourisme/?$ /visas/suriname/ [R=301,L]
  RewriteRule ^visas/tadjikistan/tadjikistan-informations-generales/?$ /visas/tadjikistan/ [R=301,L]
  RewriteRule ^visas/tadjikistan/tadjikistan-visa-business/?$ /visas/tadjikistan/ [R=301,L]
  RewriteRule ^visas/tadjikistan/tadjikistan-visa-tourisme/?$ /visas/tadjikistan/ [R=301,L]
  RewriteRule ^visas/tanzanie/tanzanie-informations-generales/?$ /visas/tanzanie/ [R=301,L]
  RewriteRule ^visas/tanzanie/tanzanie-visa-business/?$ /visas/tanzanie/ [R=301,L]
  RewriteRule ^visas/tanzanie/tanzanie-visa-tourisme/?$ /visas/tanzanie/ [R=301,L]
  RewriteRule ^visas/tchad/tchad-informations-generales/?$ /visas/tchad/ [R=301,L]
  RewriteRule ^visas/tchad/tchad-visa-business/?$ /visas/tchad/ [R=301,L]
  RewriteRule ^visas/tchad/tchad-visa-tourisme/?$ /visas/tchad/ [R=301,L]
  RewriteRule ^visas/thailande/thailande-informations-generales/?$ /visas/thailande/ [R=301,L]
  RewriteRule ^visas/thailande/thailande-visa-tourisme/?$ /visas/thailande/ [R=301,L]
  RewriteRule ^visas/togo/togo-informations-generales/?$ /visas/togo/ [R=301,L]
  RewriteRule ^visas/togo/togo-visa-business/?$ /visas/togo/ [R=301,L]
  RewriteRule ^visas/togo/togo-visa-tourisme/?$ /visas/togo/ [R=301,L]
  RewriteRule ^visas/turkmenistan/turkmenistan-ig/?$ /visas/turkmenistan/ [R=301,L]
  RewriteRule ^visas/turkmenistan/turkmenistan-visa-business/?$ /visas/turkmenistan/ [R=301,L]
  RewriteRule ^visas/turkmenistan/turkmenistan-visa-tourisme/?$ /visas/turkmenistan/ [R=301,L]
  RewriteRule ^visas/vietnam/vietnam-informations-generales/?$ /visas/vietnam/ [R=301,L]
  RewriteRule ^visas/vietnam/vietnam-visa-tourisme/?$ /visas/vietnam/ [R=301,L]
  RewriteRule ^visas/yemen/yemen-informations-generales/?$ /visas/yemen/ [R=301,L]
  RewriteRule ^visas/yemen/yemen-visa-business/?$ /visas/yemen/ [R=301,L]
  RewriteRule ^visas/yemen/yemen-visa-tourisme/?$ /visas/yemen/ [R=301,L]
  RewriteRule ^visas/zambie/zambie-informations-generales/?$ /visas/zambie/ [R=301,L]
  RewriteRule ^visas/zambie/zambie-visa-business/?$ /visas/zambie/ [R=301,L]
  RewriteRule ^visas/zambie/zambie-visa-tourisme/?$ /visas/zambie/ [R=301,L]
  RewriteRule ^visas/zimbabwe/zimbabwe-informations-generales/?$ /visas/zimbabwe/ [R=301,L]
  RewriteRule ^visas/zimbabwe/zimbabwe-visa-business/?$ /visas/zimbabwe/ [R=301,L]
  RewriteRule ^visas/zimbabwe/zimbabwe-visa-tourisme/?$ /visas/zimbabwe/ [R=301,L]
</IfModule>
